@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body {
    font-family: 'Open Sans', sans-serif;
    width: 100%;
    padding: 0;
    margin: 0;
}

canvas {
    display: block;
    margin: auto;
}

.background {
    fill: none;
    pointer-events: all;
}

.border {
    stroke: grey;
    stroke-width: 2px;
    fill: none;
}

.departement {
  fill: #ff0000;/*none;*/
}
